.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 7px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4); /* По-прозрачен */
  backdrop-filter: blur(6px); /* Мек фон */
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar-user {
  margin-right: 15px;
  font-weight: bold;
  white-space: nowrap;
}

.navbar-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
  cursor: pointer;

}

.navbar-right {
  display: flex;
  align-items: center; /* центриране по вертикала */
  gap: 12px;
}
/* .navbar-left,
.navbar-right {
  display: flex;
  /* align-items: center;     вертикално центрира Welcome и бутона */
 /* gap: 10px;
} */
